<ol class="breadcrumb">
  <li><%= link_to 'Accounting', accounting_path %></li>
  <li><%= link_to 'Entries', accounting_entries_path %></li>
  <li><%= link_to @accounting_entry.id, @accounting_entry %></li>
  <li class="active">Edit</li>
</ol>

<%= render 'form' %>
